<mat-grid-list cols="3">
    <mat-grid-tile>
        <mat-card>
            <div class="mat-app-background">
                <mat-card-header>
                    <mat-card-title>
                        Total Memory Percentage
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <h4>Total Available Memory: </h4> {{ totalMem | number : '1.2-2' }} GB
                    <mat-progress-spinner color="primary" stroke="25" value="100"></mat-progress-spinner> 
                </mat-card-content>
            </div>
        </mat-card>     
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <div class="mat-app-background">
                    <mat-card-header>
                        <mat-card-title>
                            Free Memory Percentage
                        </mat-card-title>
                    </mat-card-header>
                    
                    <mat-card-content>
                        <h4>Free Memory: </h4> {{ freeMem | number : '1.2-2' }} GB
                        <h4>Free Memory Percentage: </h4> {{ memPercentageFree | number : '1.2-2'}} %
                        <mat-progress-spinner color="accent" stroke="25" value=" {{ memPercentageFree }} "></mat-progress-spinner>
                    </mat-card-content>
                </div>
        </mat-card>   
    </mat-grid-tile>

    <mat-grid-tile>
            <mat-card>
                <div class="mat-app-background">
                        <mat-card-header>
                            <mat-card-title>
                                Used Memory Percentage
                            </mat-card-title>
                        </mat-card-header>
                        
                        <mat-card-content>
                            <h4>Used Memory: </h4> {{ usedMem | number : '1.2-2' }} GB
                            <h4>Used Memory Percentage: </h4> {{ memPercentageUsed | number : '1.2-2' }} %
                            <mat-progress-spinner color="warning" value=" {{ memPercentageUsed }} "></mat-progress-spinner>
                        </mat-card-content>
                    </div>
            </mat-card>   
    </mat-grid-tile>

</mat-grid-list>